    <h4>商品新規登録</h4>
      
      <%= form_with model: @item do |f| %>
      <h6>商品画像</h6>
      <%= f.file_field :image, accept: "image/*" %>

      <h6>商品名</h6>
      <%= f.text_field :name %>

      <h6>Introduction</h6>
      <%= f.text_area :introduction %>
      
      <h6>税抜き価格</h6>
      <%= f.text_field :price %>

      <h4><%= f.submit "新規登録" %></h4>
      <% end %>