<div class="container">
  <div class="row">
    <div class="col-lg-3" style="margin-top:50px"></div>
    <div class="col-lg-3" style="margin-top:50px">
      <table>
        <tr><th><h3>商品一覧</h3></th><td><h6>(全<%= Item.all.count %>件)</h6></td></tr>
      </table>
    </div>


  </div>

  <div class="row">
    <div class="col-lg-3" style="margin-top:10px"></div>
    <div class="col-lg-8" style="margin-top:10px">
      <div class="d-flex flex-wrap">


        <% @items.each do |item| %>
        <div style="margin-right:10px;">
          <div class="card">
            <div>
              <%= link_to item_path(item.id) do %>
                <%= image_tag item.get_image, size: "150x100" %>
              <% end %>
            </div>
          </div>
          <div class="card-body">
            <div>
              <%= item.name %>
            </div>
            <div>
              ¥<%= item.price %>
            </div>
          </div>
        </div>
        <% end %>

      </div>
    </div>
    <div class="col-lg-1" style="margin-top:10px"></div>
  </div>

  <div class="row">
    <div class="col-lg-6" style="margin-top:50px"></div>
    <div class="col-lg-2" style="margin-top:50px">
      <%= paginate @items %>
    </div>
    <div class="col-lg-4" style="margin-top:50px"></div>
  </div>



</div>