<div class="container">
  <div class="row">
    <div class="col-lg-3" style="margin-top:50px"></div>
    <div class="col-lg-3" style="margin-top:50px">
      <table>
        <tr><th><h3>商品一覧</h3></th><td><h6>(全<%= Item.all.count %>件)</h6></td></tr>
      </table>
    </div>


  </div>

  <div class="row">
    <div class="col-lg-3" style="margin-top:10px"></div>
    <div class="col-lg-8" style="margin-top:10px">

      <% @items.each do |item| %>
      <div class="col-lg-3" style="margin-top:10px">
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_image, size: "200x150" %>
        <% end %>
      </div>
      <div class="col-lg-3" style="margin-top:10px">
        <%= item.name %>
      </div>
      <div class="col-lg-3" style="margin-top:10px">
        ¥<%= item.price %>
      </div>
      <% end %>
    </div>
    <div class="col-lg-1" style="margin-top:10px"></div>
  </div>

<%= paginate @items %>

</div>